@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> 
    HOW to retrieve your password <br>
    Already have an account? @Html.ActionLink("Login here", "Index")
</p>
